/* all icons belong to icons8 */
/* import the styling for music player */
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
  margin-bottom: 10px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  margin-top: -10px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #c67ec9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #9a249e;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #c67ec9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #c67ec9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]:focus::-ms-fill-lower {
  background: #c67ec9;
}

input[type=range]::-ms-fill-upper {
  background: #c67ec9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]:focus::-ms-fill-upper {
  background: #c67ec9;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #111920;
  color: white;
}

.header-image {
  max-width: 100%;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
}

.link {
  cursor: pointer;
  color: white;
  text-decoration: none;
  position: relative;
  padding-bottom: 7px;
}

.link:visited {
  color: white;
}

.link::after {
  content: "";
  width: 0%;
  height: 7px;
  background: #9a249e;
  /*fallback for old browsers */
  background: -webkit-linear-gradient(to right, #9a249e, #c67ec9);
  background: linear-gradient(to right, #9a249e, #c67ec9);
  position: absolute;
  bottom: 0%;
  left: 50%;
  transition: all 500ms ease;
}

.link:hover::after {
  left: 0%;
  width: 100%;
}

.main-content {
  padding: 30px;
}

.bio-text {
  font-weight: 300;
  text-align: justify;
}

.top-tracks {
  padding: 30px;
}

.tracks-title {
  margin-bottom: 15px;
}

.tracks-list {
  list-style-type: none;
}

.track {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #c67ec9;
  background-color: #111920;
  background-size: 0% 100%;
  transition: background-color 0.5s;
}

.track:hover {
  background-color: #9a249e;
  background-image: linear-gradient(to right, #9a249e 0%, #c67ec9 40%, rgba(255, 255, 255, 0.7) 100%);
  background-repeat: no-repeat;
  background-size: 200% 100%;
  transition: background-size 2s, background-color 2s;
}

.album-cover-small {
  width: 40px;
  height: 40px;
}

.play-track {
  background: url("../images/icons8-play-64.png");
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  width: 30px;
  height: 30px;
}

.play-track:hover {
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.tracks-info {
  align-self: center;
}

.music-player {
  padding: 30px 30px 20px 30px;
  position: sticky;
  bottom: 0;
  max-width: 100%;
  background-color: #111920;
}

.player {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.prev {
  background: url("../images/icons8-rewind-64.png");
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  width: 40px;
  height: 40px;
}

.play {
  background: url("../images/icons8-play-64.png");
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  width: 40px;
  height: 40px;
}

.pause {
  display: none;
  background: url("../images/icons8-pause-64.png");
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  width: 40px;
  height: 40px;
}

.next {
  background: url("../images/icons8-fast-forward-64.png");
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  width: 40px;
  height: 40px;
}

.volume {
  background: url("../images/icons8-speaker-64.png");
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  width: 40px;
  height: 40px;
}

.prev, .play, .next, .volume:hover {
  cursor: pointer;
}

.playing-now {
  font-weight: 300;
}

.discography {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.album {
  display: flex;
  flex-direction: row;
  padding: 30px;
}

.album-cover {
  overflow: hidden;
}

.album-cover img {
  width: 100px;
  height: 100px;
}

.album-cover img {
  transition: transform 0.5s ease;
}

.album-cover:hover img {
  transform: scale(1.5);
}

.album-info {
  padding: 10px;
  align-self: center;
}

.album-type {
  font-weight: 300;
}

.events {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.event {
  display: flex;
  flex-direction: row;
  padding: 30px;
}

.event-icon {
  overflow: hidden;
}

.event-icon img {
  transition: transform 0.5s ease;
}

.event-icon:hover img {
  transform: scale(1.5);
}

.event-info {
  padding: 10px;
  align-self: center;
}

.event-details {
  font-weight: 300;
}

.nonmenu-link {
  cursor: pointer;
}

.years-active {
  font-weight: 300;
}

.artists {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.artist {
  display: flex;
  flex-direction: row;
  padding: 30px;
}

.artist-image img {
  width: 150px;
  height: 150px;
}

.artist-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
}

.artist-image img {
  transition: transform 0.5s ease;
}

.artist-image:hover img {
  transform: scale(1.5);
}

.artist-info {
  align-self: center;
  padding: 30px;
}

.mobile-menu {
  display: none;
}

.menu-icon {
  width: 40px;
  height: 40px;
  padding-top: 30px;
}

@media only screen and (max-width: 560px) {
  .mobile-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .menu {
    display: none;
  }

  .menu-icon:hover {
    width: 48px;
    height: 48px;
  }

  .link::after {
    content: "";
    width: 0%;
    height: 0;
  }

  .artists {
    justify-content: center;
  }
}
@media only screen and (max-width: 710px) {
  .discography {
    justify-content: center;
  }

  .album {
    display: inline-block;
  }
}
@media only screen and (min-width: 1500px) {
  body {
    font-size: 1.3rem;
  }
}

/*# sourceMappingURL=style.css.map */
