/* all icons belong to icons8 */

/* import the styling for music player */

@import "musicplayer";

$padding: 30px;

$colors: (
	bg: #111920,
	gradientOne: #9a249e,
	gradientTwo: #c67ec9
);

$small-screen: 560px;
$medium-screen: 710px;
$large-screen: 1500px;

@function color($color-name){
	@return map-get($colors, $color-name);
}

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Lato', sans-serif;
	background-color: color(bg);
	color: white;
}

.header-image {
	max-width: 100%;
}

.menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: $padding;
}

.link {
	cursor: pointer;
	color: white;
	text-decoration: none;
	position: relative;
	padding-bottom: 7px;
}

.link:visited {
	color: white;
}

.link::after {
	content: '';
	width: 0%;
	height: 7px;
	background: color(gradientOne); /*fallback for old browsers */
	background: -webkit-linear-gradient(to right, color(gradientOne), color(gradientTwo));
	background: linear-gradient(to right, color(gradientOne), color(gradientTwo));
	position: absolute;
	bottom: 0%;
	left: 50%;
	transition: all 500ms ease;
}

.link:hover::after {
	left: 0%;
	width: 100%;
}

.main-content {
	padding: $padding;
}

.bio-text {
	font-weight: 300;
	text-align: justify;
}

.top-tracks {
	padding: $padding;
}

.tracks-title {
	margin-bottom: 15px;
}

.tracks-list {
	list-style-type: none;
}

.track {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid color(gradientTwo);
	background-color: color(bg);
	background-size: 0% 100%;
	transition: background-color .5s;
}

.track:hover {
	background-color: color(gradientOne);
	background-image:linear-gradient(to right, rgba(154, 36, 158) 0%, rgba(198, 126, 201) 40%, rgba(255,255,255,.7) 100%);
	background-repeat:no-repeat;
	background-size: 200% 100%; 
	transition:background-size 2s, background-color 2s;
}

.album-cover-small {
	width: 40px;
	height: 40px;
}

.play-track {
	background: url('../images/icons8-play-64.png');
	background-position: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	border: none;
	width: 30px;
	height: 30px;
}

.play-track:hover {
	cursor: pointer;
	width: 40px;
	height: 40px;
}

.tracks-info {
	align-self: center;
}

.music-player {
	padding: 30px 30px 20px 30px;
	position: sticky;
	bottom: 0;
	max-width: 100%;
	background-color: color(bg);
}

.player {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.prev {
	background: url('../images/icons8-rewind-64.png');
	background-position: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	border: none;
	width: 40px;
	height: 40px;
}

.play {
	background: url('../images/icons8-play-64.png');
	background-position: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	border: none;
	width: 40px;
	height: 40px;
}

.pause {
	display: none;
	background: url('../images/icons8-pause-64.png');
	background-position: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	border: none;
	width: 40px;
	height: 40px;
}

.next {
	background: url('../images/icons8-fast-forward-64.png');
	background-position: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	border: none;
	width: 40px;
	height: 40px;
}

.volume {
	background: url('../images/icons8-speaker-64.png');
	background-position: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	border: none;
	width: 40px;
	height: 40px;
}

.prev, .play, .next, .volume:hover {
	cursor: pointer;
}

.playing-now {
	font-weight: 300;
}

.discography {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.album {
	display: flex;
	flex-direction: row;
	padding: $padding;
}

.album-cover {
	overflow: hidden; 
}

.album-cover img {
	width: 100px;
	height: 100px;
}

.album-cover img {
  	transition: transform .5s ease;
}

.album-cover:hover img {
  	transform: scale(1.5);
}

.album-info {
	padding: 10px;
	align-self: center;
}

.album-type {
	font-weight: 300;
}

.events {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.event {
	display: flex;
	flex-direction: row;
	padding: $padding;
}

.event-icon {
	overflow: hidden; 
}
.event-icon img {
  	transition: transform .5s ease;
}

.event-icon:hover img {
  	transform: scale(1.5);
}

.event-info {
	padding: 10px;
	align-self: center;
}

.event-details {
	font-weight: 300;
}

.nonmenu-link {
	cursor: pointer;
}

.years-active {
	font-weight: 300;
}

.artists {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.artist {
	display: flex;
	flex-direction: row;
	padding: $padding;
}

.artist-image img {
	width: 150px;
	height: 150px;
}

.artist-image {
	width: 150px;
	height: 150px;
	border-radius: 50%;
  	overflow: hidden; 
}

.artist-image img {
  	transition: transform .5s ease;
}

.artist-image:hover img {
  	transform: scale(1.5);
}

.artist-info {
	align-self: center;
	padding: $padding;
}

.mobile-menu {
	display: none;
}

.menu-icon {
	width: 40px;
	height: 40px;
	padding-top: 30px;
}

@media only screen and (max-width: $small-screen){
	.mobile-menu {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
	}

	.menu {
		display: none;
	}

	.menu-icon:hover {
		width: 48px;
		height: 48px;
	}

	.link::after {
		content: '';
		width: 0%;
		height: 0;
	}

	.artists {
		justify-content: center;
	}
}

@media only screen and (max-width: $medium-screen){
	.discography {
		justify-content: center;
	}

	.album {
		display: inline-block;
	}
}

@media only screen and (min-width: $large-screen){
	body {
		font-size: 1.3rem;
	}
}